@media only screen and (max-width: 992px){
    .div2-sec2 > button {
        width: 20%;
    }
    .div1-sec4 img {
        height: 240px;
    }
    .div1-sec4 > h1 {
        font-size: 3.6em;
    }
    .divs-div2-sec3 > button {
        width: 46%;
    }
    .text-light {
        font-size: 1em;
    }
}
@media only screen and (max-width: 768px){
    .divs-div2-sec3 ul > li > a {
        font-size: 0.96em;
    }
    .divs-div2-sec3 > button {
        width: 60%;
    }
    .img-sec3 {
        width: 100%;
    }
    .div1-sec4 img {
        height: 192px;
    }
    .div1-sec4 > h1 {
        font-size: 3em;
    }
    .form1 {
        width: 32.3%
    }
    .textarea-sec4 > textarea {
        width: 99%;
    }
    .text-light {
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 576px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 0.9em;
    }
    .divs-div2-sec3-576{
        width: 100% !important;
        text-align: center;
    }
    .divs-div2-sec3 {
        width: 46%;
    }
    .img-sec3 {
        width: 100%;
    }
    .divs-div2-sec2 {
        text-align: center;
        margin-right: 5%;
        width: 90%;
    }
    .div2-sec3 {
        color: white;
        background: linear-gradient(90deg, hsla(0deg 76% 30% / 64%) 0%, hsla(30, 2%, 18%, 0.637) 35%),url(/assets/images/fondo2.jpg);
        background-repeat: no-repeat;
        padding: 10%;
        margin-top: 1%;
    }
    .btn img {
        width: 15%;
    }
    .divs-div2-sec3 > button {
        width: 34%;
    }
    .div1-sec4 img {
        height: 136px;
    }
    .div1-sec4 > h1 {
        font-size: 2em;
    }
    .form1 {
        width: 99%;
    }
}