.menu > a > img{
    width: 11%;
}
.header{
    background-color: #0d0d0d;
}
.navbar-light .navbar-toggler-icon {
    filter: invert(14%) sepia(100%) saturate(7036%) hue-rotate(351deg) brightness(91%) contrast(101%);
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
    color: white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ea051c;
}
#head2{
    width: 100%;
    background: linear-gradient(90deg, hsl(0deg 76% 30% / 64%) 0%, hsl(0deg 0% 0% / 64%) 35%),url(/assets/images/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.menu-header {
    width: 30%;
    color: white;
    padding-top: 26%;
    padding-bottom: 9%;
    margin-left: auto;
    margin-right: auto;
}
.menu > a > img {
    filter: invert(14%) sepia(100%) saturate(7036%) hue-rotate(351deg) brightness(91%) contrast(101%);
}
.text-light{
    font-size: 1.2em;
}
.section2{
    background-color: #0d0d0d;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
}
.divs-div1-sec2{
    width: 40%;
}
.divs-div1-sec2 > p{
    padding-top: 5%;
    padding-bottom: 5%;
}
.div1-sec2{
    width: 70%;
}
.divs-div2-sec2{
    margin-right: 5%;
    width: 45%;
}
.div2-sec2{
    padding-top: 5%;
}
.div2-sec2 > button{
    width: 15%;
}
.btn-outline-dark {
    margin-top: 3%;
    color: white;
    border-color: white;
}
.btn-outline-dark:hover {
    background-color: #ea051c;
    border-color: #52abfd;
}
.img-sec3{
    width: 33.33%;
}
.img-sec3 img{
    
    width: 100%;
    height: 100%;
}
.divs-div2-sec3{
    margin-left: 3%;
    width: 30%;
}
.section3{
    background-color: #0d0d0d;
}
.div2-sec3{
    color: white;
    background: linear-gradient(90deg, hsla(0deg 76% 30% / 64%) 0%, hsla(30, 2%, 18%, 0.637) 35%),url(/assets/images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10%;
    margin-top: 1%;
}
.divs-div2-sec3 ul li {
    margin-top: 3%;
    list-style-type: none;
}
.divs-div2-sec3 ul > li > a {
    font-family: 'Montserrat', sans-serif;
    color: var(--ligth);
    text-decoration: none;
    font-size: 1.2em;
}
.divs-div2-sec3 ul > li > a:hover{
    color: #ea051c;
}
.divs-div2-sec3 > button{
    width: 45%;
}
.btn img{
    width: 18%;
    filter: invert(100%) sepia(82%) saturate(2915%) hue-rotate(174deg) brightness(106%) contrast(111%);
}
.section4{
    background-color: #0d0d0d;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}
.div1-sec4{
    width: 50%;
}
.div1-sec4 img{
    padding-bottom: 5%;
    border-radius: 50%;
    width: 46%;
    height: 300px;
}
.div1-sec4 > h1{
    font-size: 4em;
}
.div1-sec4 > p{
    width: 80%;
}
.form1{
    margin-right: 1%;
    margin-bottom: 1%;
    width: 25%;
}
.form1 > form > input{
    width: 100%;
}
.textarea-sec4 > textarea{
    width: 77%;
    height: 150px;
}
.divs-footer{
    width: 50%;
}

.divs-div1-footer > img{
    filter: invert(14%) sepia(100%) saturate(7036%) hue-rotate(351deg) brightness(91%) contrast(101%);
    width: 9%;
}
footer{
    background-color: #253d48;
    color: white;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.inf-footer{
    margin-left: 3%;
}
.inf-footer > h5{
    margin-top: 10%;
    margin-bottom: 0%;
}
.icon-footer img{
    width: 8%;
    margin-right: 5%;
}